<!DOCTYPE html>
<html lang="en">

<head>

	<% include partials/head.ejs %>

</head>

<body>

	<% include partials/header.ejs %>

		<div id="hero-image">
			<h1 id="hero-title">
				<%= title %>
			</h1>
		</div>

		<div id="posters-wrapper" class="content-padding clearfix">
			<% for (var i=0; i < books.length; i++) { %>
				<div class="poster">

					<a href="/book_id/<%= books[i].id %>">
						<img src="data:image/png;base64,<%= books[i].poster.toString('base64') %>" class="img-responsive cover-image">

						<div class="circle-button-wrapper">
							<div class="circle-button">
								<a href="/add_book">
									<i class="fa fa-plus icon-button"></i>
								</a>
							</div>
							<div class="circle-button">
								<a href="/edit_book/<%= books[i].id %>">
									<i class="fa fa-pencil icon-button"></i>
								</a>
							</div>
						</div>

						<div class="poster-info-overlay">
							<h3>
								<%= books[i].name %>
							</h3>
							<h4>View more
								<i class="fa fa-arrow-right"></i>
							</h4>
						</div>
					</a>
				</div>
				<% } %>
		</div>

		<div id="pagination">
			<% for (var i=1; i <= pageCount; i++) { %>
				<% if (i === page) { %>
					<a href="/page/<%= i %>" class="page-link active-page">
						<%= i %>
					</a>
					<% } else { %>
						<a href="/page/<%= i %>" class="page-link">
							<%= i %>
						</a>
						<% } %>
							<% } %>
		</div>

		<% include partials/footer.ejs %>

			<% include partials/scripts.ejs %>
</body>

</html>